// GLOBAL VARIABLES

$myHeight: 100vh;
$myAnimTF: ease-out;


// GLOBAL MIXINS

@mixin d-flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin strip-animation ($name, $duration) {
    animation-name: $name;
    animation-duration: $duration;
    animation-timing-function: $myAnimTF;
}

@mixin transform ($transform){
    -webkit-transform: $transform;
    transform: $transform;
}

@mixin transform-origin ($transformOrigin){
    -webkit-transform: $transformOrigin;
    transform: $transformOrigin;
}

////////////////////////////////////////////////////////////////////////

// Global settings

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 10px 0 0 0;
  }
  
  h1 {
    font-size: 3.5vw;
    font-weight: 300;
    color: white;
    font-family: "Lato";
  }
  
  // Strings settings

  .strips {
    height: $myHeight;
    width: 100vw;
    overflow: hidden;
    text-align: center;
    display: flex;
    cursor: pointer;

    .strip {
      @include d-flex-centered();
      position: relative;
      width: 19.9vw;
      margin: 0.1vw;
      height: $myHeight;
      overflow: hidden;
    
      .strip_content {
        @include d-flex-centered();
        position: absolute;
        height: $myHeight;
        width: 100%;
      }
    }
  }
  
  // Overlay settings

  .strip_content {
   
    :before {
      content: "";
      @include d-flex-centered();
      @include transform-origin(center center);
      @include transform(skew(30deg) scaleY(1) translate(0, 0));
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 20vw;
      height: $myHeight;
      background: white;
      opacity: 0.05;
      transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
      overflow: hidden;
    }

    :hover:before {
      @include transform(skew(0deg) scaleX(2) translate(0, 0));
      opacity: 0.2;
    }
  }
  
  // Animation settings

  .strip:nth-child(1) {

    .strip_content {
      @include strip-animation(strip--u4rx9pe, 0.5s);
      background-color: #244F75;
    }
    
    @keyframes strip--u4rx9pe {
      from {
        transform: translate3d(-100%, 0, 0);
      }
    }
  }
  
  .strip:nth-child(2) {

    .strip_content {
      @include strip-animation(strip--u4rx9pg, 0.8s);
      background-color: #60BFBF;
    }
  
    @keyframes strip--u4rx9pg {
      from {
        transform: translate3d(0, 100%, 0);
      }
    }
  }
  
  .strip:nth-child(3) {
  
    .strip_content {
      @include strip-animation(strip--u4rx9q8, 0.7s);
      background-color: #8C4B7E;
    }

    @keyframes strip--u4rx9q8 {
      from {
        transform: translate3d(0, -100%, 0);
      }
    }
  }
  
  .strip:nth-child(4) {
  
    .strip_content {
      @include strip-animation(strip--u4rx9qn, 1s);
      background-color: #F8BB44;
    }

    @keyframes strip--u4rx9qn {
      from {
        transform: translate3d(0, 100%, 0);
      }
    }
  }
  
  .strip:nth-child(5) {

    .strip_content {
      @include strip-animation(strip--u4rx9r0, 1.1s);
      background-color: #F24B4B;
    }

    @keyframes strip--u4rx9r0 {
      from {
        transform: translate3d(100%, 0, 0);
      }
    }
  }